#column3 { margin-top: -444px }

#column3 .communityAd { margin-top: 130px }

#column3 .community-skyscraper { margin-top: 135px }

#column1, #column2 { min-height: 1px }

#wide-personal-info { width: 759px; height: 130px; float: left; padding-bottom: 7px; margin-left: 1px; background: url(../../v2/images/personal_info/mepage_info_bg.png) no-repeat; position: relative }

#wide-personal-info #habbo-plate { position: absolute; top: 14px; left: 15px; height: 110px; width: 96px; text-align: center }

#wide-personal-info .info-box { position: absolute; left: 132px; width: 300px; overflow: hidden; color: #fff; margin: 10px 12px 0 12px; line-height: 13px }

#wide-personal-info .info-box .label { font-weight: bold }

#wide-personal-info #name-box { top: 0; height: 36px }

#wide-personal-info #motto-box { top: 44px; height: 30px }

#wide-personal-info #last-logged-in-box { top: 83px; height: 28px }

#wide-personal-info .enter-hotel-btn { position: absolute; top: 8px; right: 0; width: 300px; text-align: center }

#wide-personal-info .enter-hotel-btn .enter-btn { display: inline-block; white-space: nowrap }

#wide-personal-info .enter-btn a, #wide-personal-info .enter-btn span, #promo-box .enter-btn a, #promo-box .enter-btn span { float: left; background: transparent url(../../v2/images/personal_info/back_to_hotel_button.png) no-repeat -10px 0; height: 54px; text-align: center; line-height: 54px; padding: 0 28px 0 19px; font-size: 14px; position: relative; color: #fff; max-width: 239px; overflow: hidden; text-decoration: none }

#wide-personal-info .enter-btn span, #promo-box .enter-btn span { padding-right: 10px; background-position: -10px -108px }

#wide-personal-info .enter-btn:hover a, #promo-box .enter-btn:hover a { background-position: -10px -54px; text-decoration: underline }

#wide-personal-info .enter-btn:hover b, #promo-box .enter-btn:hover b { background-position: 0 -54px }

#wide-personal-info .enter-btn a i, #promo-box .enter-btn a i { background: transparent url(../../v2/images/systemavailability/hotel-button-medium-icon.png) no-repeat 0 50%; padding: 12px 12px; position: absolute; right: 0; top: 13px; line-height: 1px; height: 1px; font-size: 1px }

#wide-personal-info .enter-btn b, #promo-box .enter-btn b { float: left; background: transparent url(../../v2/images/personal_info/back_to_hotel_button.png) no-repeat 0 0; height: 54px; width: 10px }

#wide-personal-info .enter-btn.closed b, #promo-box .enter-btn.closed b { background-position: 0 -108px }

#wide-personal-info .enter-btn.closed span, #promo-box .enter-btn.closed span { background-position: -10px -108px; padding-right: 10px; color: #fff }

#wide-personal-info .enter-btn.closed a i, #promo-box .enter-btn.closed a i { display: none }

#wide-personal-info .enter-btn.closed b, #promo-box .enter-btn.closed b { background-position: 0 -108px }

#promo-box { width: 759px; height: 300px; float: left; margin-bottom: 7px; margin-left: 1px; position: relative }

#promo-box #promo-bullets { position: absolute; left: 0; top: 0; width: 400px; height: 12px; padding: 20px 0 18px 20px; z-index: 30 }

#promo-box #promo-bullets a { background-color: #fff; float: left; height: 12px; margin-right: 10px; text-indent: -9999px; width: 12px; border-radius: 7px; -moz-border-radius: 7px; opacity: .3; outline: 0 }

#promo-box #promo-bullets a:hover, #promo-box #promo-bullets a.active { opacity: 1.0 }

#promo-box .promo-container { position: absolute; left: 0; top: 0; width: 759px; height: 300px; z-index: 20 }

#promo-box .promo-content-container { padding: 45px 0 0 20px }

#promo-box .promo-link-container { bottom: 0; position: absolute; width: 749px; height: 64px; left: 10px }

#promo-box .promo-content { width: 380px; color: #fff }

#promo-box .promo-content .title { font-size: 22px; font-weight: bold; margin-bottom: 26px }

#promo-box .promo-content .body { font-size: 12px }

#promo-box .enter-hotel-btn { float: right; margin-right: 10px; margin-top: 4px }

#promo-box .enter-hotel-btn .enter-btn { white-space: nowrap }

#promo-box .facebook-link, #promo-box .twitter-link { display: block; width: 26px; height: 26px; bottom: 18px }

#promo-box .facebook-link { background: transparent url(../../v2/images/shared_icons/icon_fb.png) no-repeat 0 0; float: left; margin-top: 18px; margin-left: 10px }

#promo-box .twitter-link { background: transparent url(../../v2/images/shared_icons/icon_twitter.png) no-repeat 0 0; float: left; margin-top: 18px; margin-left: 10px }

#promo-box .appstore-link { background: transparent url(../../v2/images/shared_icons/icon_appstore.png) no-repeat 0 0; display: block; width: 129px; height: 45px; float: right; margin-right: 10px; margin-top: 9px }

#promo-box .androidmarket-link { background: transparent url(../../v2/images/shared_icons/icon_play_store.png) no-repeat 0 0; display: block; width: 129px; height: 45px; float: right; margin-right: 10px; margin-top: 9px }

#twitterfeed-habblet-container { padding: 0 8px 7px 0 }

#forum-box { width: 759px; height: 463px; float: left; margin-bottom: 7px; margin-left: 1px; position: relative; background-color: #f5f5f5; border-radius: 5px }