body.process-template { background-color: #bce0ee; background-image: none; padding: 0 10px }

body.process-template.black { background-color: #000 }

body.process-template.black #footer a, body.process-template.black #footer p { color: #fff }

body.process-template #container { width: 766px; margin-top: 12px; position: relative }

body#popup.process-template #container { width: 720px }

body.process-template #header { width: auto; padding: 0; position: relative; padding-left: 20px }

body.process-template.black #header { padding: 0 }

body.process-template #header h1 a { height: 54px }

body.secure-page #header h1 a { height: 42px }

body.process-template #process-content { clear: left; margin-top: 18px }

body.process-template #footer { padding-right: 0; padding-top: 16px }

body.process-template #column1 { float: none; width: auto }

body#landing.process-template #column1, body#reauthenticate.process-template #column1 { float: left; width: 404px; clear: left }

body#landing.process-template #column2, body#reauthenticate.process-template #column2 { float: left; width: 310px }

body#landing.process-template #column1 .cb, body#reauthenticate.process-template #column1 .cb, body#popup.process-template #column1 .cb { margin: 0 8px 8px 0 }

body#landing.process-template #column2 .cb, body#reauthenticate.process-template #column2 .cb, body#popup.process-template #column2 .cb { margin-right: 0 }

body#popup.process-template #column1 { width: 354px; float: left }

body#popup.process-template #column2 { width: 314px; float: left }

body.process-template #content.wide { padding: 0 8px }

body.process-template #content { padding: 0 21px }

body.plain-template #content { padding-bottom: 21px }

ul.stats { list-style: none; margin: 0; position: absolute; left: 0; top: 56px; z-index: 1 }

ul.stats li { margin: 0; float: left; color: #fc6204; text-align: right }

ul.stats li.stats-online { width: 395px }

ul.stats li.stats-visited { width: 310px }

#register ul.stats li.stats-online { width: 435px }

#register ul.stats li.stats-visited { width: 269px }

#logout ul.stats li.stats-online, #popup ul.stats li.stats-online { width: 346px }

#logout ul.stats li.stats-visited, #popup ul.stats li.stats-visited { width: 313px }

ul.stats span.stats-fig { color: #000; font-weight: bold }

.process-template-box .bt, .process-template-box .bt div, .process-template-box .bb, .process-template-box .bb div { background-image: url(../../v2/images/box_process.png) }

body.process-template #column1 .cb { margin: 0 }

body.process-template #column2 .cbb { margin-right: 0 }

#content .cbb.process_yellow { background: #ffcd0a }

#content .cb.process_yellow { background: transparent }

#content .process_yellow .bt, #content .process_yellow .bt div { background-image: url(../../v2/images/box_yellow.png) }

#content .process_yellow .bb { background-image: url(../../v2/images/box_yellow.png) }

#content .process_yellow .bb div { background-image: url(../../v2/images/box_yellow.png) }

#content .process_yellow .i1, #content .process_yellow .i2, #content .process_yellow .i3 { background: #ffcd0a }

#content .process_yellow h2 { background: #f29400 }

body#logout.process-template #content { padding: 0 }

body#logout.process-template #header, body#logout.process-template .flash-message { padding: 0 22px }

body#logout.process-template .ad-container { margin-left: 8px }

#header { background: 0 }