#navi2 { background-image: url(../../v2/images/navi2-borders-wide.png) }

#navi2-container { background-image: url(../../v2/images/navi2-bottom-wide.png) }

#habbo-way-content { text-align: center; background-color: #fff; width: 930px; border-radius: 5px }

#habbo-way-content td { text-align: left; margin-top: 70px; width: 210px; padding: 5px 5px 5px 10px }

h4 { padding-top: 5px }

.wrong { background: transparent url(../../images/safety/wrong.png) center left no-repeat; padding-left: 22px }

.right { background: transparent url(../../images/safety/correct.png) center left no-repeat; padding-left: 22px }