#container { margin: 0 auto }

.v3_darkblue_glow { font-family: Ubuntu, Arial, serif; font-size: 13px; color: #5094ba; border-radius: 6px; background-color: #001621; padding: 16px; border: 2px solid #3e697f; box-shadow: 0 0 27px 10px rgba(65, 105, 127, 0.33) }

.v3_darkblue_glow div { display: inline-block }

.v3_darkblue_glow div .hotel-open { margin: 22px 0 0 13px; width: 113px; height: 124px }

.v3_darkblue_glow div .retry-enter-hotel .hotel-open-image-splash, .v3_darkblue_glow div .retry-enter-hotel .hotel-closed-image-splash { width: 106px; height: 106px; background: url(../../images/v3/hotel-button-splash.png) no-repeat; position: absolute }

.v3_darkblue_glow div .retry-enter-hotel .hotel-open-image { margin: 25px 0 0 22px; background: url(../../images/v3/hotel-button-hotelopen.gif) no-repeat; width: 53px; height: 52px; position: absolute }

.v3_darkblue_glow div .retry-enter-hotel .hotel-open-button-content { position: absolute; margin: 85px 0 0 22px; text-align: center; padding: 5px; width: 50px; border-radius: 6px; border: 2px solid #006400; background-color: #04b100 }

.v3_darkblue_glow a { color: #cbe1e8 }

.v3_darkblue_glow h2 { margin: 0; padding-bottom: 3px; color: #cbe1e8; font-family: "Ubuntu Medium", Arial, serif; font-size: 21px; border-bottom: 1px solid #3e697f }

.v3_darkblue_glow p { margin: 7px }

.v3_darkblue_glow span { color: #cbe1e8 }