.ssaInterstitialOverlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	opacity: .6;
	filter: alpha(opacity=60);
	z-index: 9996
	}

.ssaInterstitialContent {
	background: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	}

.ssaInterstatialContainer {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	}

.ssaInterstitialTopBar {
	text-align: center;
	color: white;
	background: transparent;
	padding: 0;
	margin: 0;
	height: 33px;
	line-height: 33px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	text-shadow: none;
	border: none;
	}

.ssaInterstitialTopBarInnerContainerLeft {
	background: transparent url(../images/supersonicads/offer_top.gif);
	background-repeat: no-repeat;
	background-position: -7px 0;
	margin-right: 5px;
	height: 33px;
	line-height: 33px;
	}

.ssaInterstitialTopBarInnerContainerRight {
	float: right;
	background: transparent url(../images/supersonicads/offer_top.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 5px;
	height: 33px;
	line-height: 33px;
	}

.ssaTopBarTextSpan {
	background: transparent;
	}

.ssaTopBarCloseButton {
	background: url(../images/supersonicads/offer_close.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
	margin-top: 7px;
	margin-right: 5px;
	width: 19px;
	height: 20px;
	line-height: 20px;
	float: right;
	}

.ssaTopBarCloseButton:hover {
	background: url(../images/supersonicads/offer_close.gif);
	background-repeat: no-repeat;
	background-position: -19px 0;
	}

.ssaInterstitialBottomBar {
	text-align: center;
	color: white;
	background: transparent;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	text-shadow: none;
	border: none;
	margin: 0;
	padding: 0;
	height: 23px;
	line-height: 23px;
	}

.ssaBottomBarInnerLeft {
	background: transparent url(../images/supersonicads/offer_btm.gif);
	background-repeat: no-repeat;
	background-position: -7px 0px;
	height: 23px;
	line-height: 23px;
	}

.ssaBottomBarInnerRight {
	float: right;
	background: transparent url(../images/supersonicads/offer_btm.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 23px;
	line-height: 23px;
	width: 5px;
	}

.ssaInterstitialClose {
	display: none;
	}

.ssaInterstitialPagination {
	display: none;
	}

.ssaInterstitialMessage {
	border-top: none;
	border-bottom: none;
	border-right: none;
	border-left: 1px;
	border-left-color: black;
	border-left-style: solid;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	text-shadow: none;
	color: black;
	background: white;
	font-weight: normal;
	font-size: 12px;
	}

.ssaInterstitialNotification {
	display: none;
	z-index: 9998;
	position: absolute;
	top: -50px;
	left: 0;
	line-height: 60px;
	height: 60px;
	background: white;
	font-size: 12px;
	color: black;
	text-shadow: none;
	text-align: center;
	}

.ssaInterstitialCallToAction {
	color: black;
	background: white;
	text-shadow: none;
	border: none;
	border-color: transparent;
	font-size: 12px;
	font-weight: normal;
	}

.ssaEngagementWrap {
	background: black;
	color: white;
	text-shadow: none;
	border: none;
	}

.ssaEngagementFooter, .ssaEngagementVideo {
	background: transparent;
	}

.ssaEngagementLogo {
	display: none;
	}
